@charset "utf-8";

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
  letter-spacing: -1px;

  /* background-color: #fbfbfb; */
}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
  letter-spacing: -1px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}

label, input, button, select, img {
  vertical-align: middle;
}

input, button, select, textarea {
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
  letter-spacing: -1px;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

select {
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

hr {
  display: none;
}

pre {
  overflow-x: scroll;
  font-size: 1.1em;
}

em {
  font-style: normal;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.ml-20 {
  margin-left: 20px;
}

.ml-50 {
  margin-left: 50px;
}

@font-face {
  font-family: 'Archive';
  src: url('./font/Archive.eot');
  src: local("Archive"), url('./font/Archive.woff') format("woff"), url('./font/Archive.ttf') format("truetype");
}

header#header-box {
  background-color: #ffffff;
  min-width: 920px;
  border-bottom: 1px solid #f1f1f1;

  .header-inner {
    width: 920px;
    height: 213px;
    margin: 0 auto;
    position: relative;
  }

  .profile-image-box {
    padding-top: 55px;
  }

  .profile-image-item {
    width: 115px;
    height: 115px;
    border-radius: 60px;
    background: url('./img/profile.jpg') no-repeat;
    background-size: cover;
  }

  .profile-content {
    position: relative;
    padding-top: 70px;
    /*padding-left: 35px;*/

    .profile-name {
      color: #222;
      font-weight: bold;
      padding-bottom: 10px;
      display: block;
      font-size: 18px;
    }

    p {
      line-height: 2em;
      font-size: 14px;
      color: #1f1f1f;
    }
  }
}

section#continer {
  width: 920px;
  margin: 0 auto;
  position: relative;
  padding-top: 81px;

  .row-content {
    // border-bottom: 1px solid #ddd;
    // margin-bottom: 30px;

    h1 {
      font-family: 'Archive' !important;
      font-size: 35px;
      font-weight: normal;
      background-color: yellow;
      display: inline-block;
      margin-bottom: 25px;
    }

    &:after {
      content: '';
      clear: both;
      display: block;
      padding-top: 30px;
    }
  }

  .block {
    clear:both;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;

    &:after {
      content: '';
      clear: both;
      display: block;
      padding-top: 30px;
    }
  }

  .row-aside {
    width: 300px;

    a {
      line-height: 1.6em;
      color: #8196ff;
      font-size: 13px;
      display: block;
      letter-spacing: 1px;
    }
  }

  .content {
    width: 600px;
    margin-left: 20px;

    .item {
      padding: 10px 0;
      display: block;

      li {
        display: block;
        position: relative;
        padding-left: 14px;
        padding-bottom: 0px;

        &:last-child {
          padding-bottom: 0;
        }

        &:before {
          position: absolute;
          top: 5px;
          left: 0;
          display: inline-block;
          content: "•";
          color: #222;
        }
      }
    }
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 0;
  }

  .text {
    line-height: 1.9em;
    color: #7b7b7b;
    font-size: 15px;
  }
}